* {
    box-sizing: border-box;
}


html body {
    margin: 0;
    padding: 0;
    font: 16px/1.42 'Gotham Pro', 'Roboto', 'OpenSans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;

}

.wrapper {
    overflow: hidden;
    min-width: 1100px;
    height: 100%;
    /* display: flex;
    flex-direction: column;  */
}

.wrapper__content {
    /* flex: 1; */
    min-height: 100%;
    height: auto !important;
    position: relative;
    overflow: hidden;
}

.wrapper__content:after {
    content: "";
    height: 77px;
    display: block;
}

.container {
    margin: 0 auto;
    width: 1100px;
    /* display: flex; */
    height: 100%;
    /* justify-content: space-around; */
    /* display: inline-block; */
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h3 {
    text-transform: uppercase;
}

.page {
    display: inline-block;
    vertical-align: top;
}