
.banner {
    /* min-height: 371px; */
    /* min-width: 1100px; */
    /* max-width: 100%; */
    background-color: #27273e;
    position: relative;
    margin-bottom: 62px;
}

.banner__image {
    display: block;
    max-width: 100%;
}