
.banner {
    background-color: #27273e;
    position: relative;
    margin-bottom: 69px;
    
}

.banner__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__image {
    display: block;
    max-width: 100%;
    position: relative;
}
.banner__text {
    color: #ffffff;
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    width: 36%;
    position: absolute;
}
.banner__text-discount {

    color: #ec1e79;
    font-family: "Gotham Pro";
    font-weight: 700;
}