.breadcrumbs__link, .breadcrumbs__item {
    display: inline-block;
    vertical-align: middle;
}
.breadcrumbs__item:after {
    content: "/";
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__item {
    font-size: 14px;
    
}


.breadcrumbs__link {
    font-style: italic;
    color: #ec1e79;
    text-decoration: underline;

}

.breadcrumbs__link--unactive {
    color: #000;
    text-decoration: none;
}
