.comments {
    text-align: left;
}

.comments__list {
    color: #221f1f;
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 52px;

}

.comments__item {
    display: flex;
    margin-bottom: 52px;
    justify-content: flex-start;
}

.comments__item:last-child {
    margin-bottom: 0;
}


.comments__avatar-pic {
    max-width: 100%;
    display: block;
}
 .comments__avatar {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background-color: #f5f5f5;
    min-width: 160px;
 }
 .comments__ellipse-user {
     display: flex;
     align-items: center;
     height: 160px;
     border-radius: 50%;
     margin-right: 20px;
     
 }
 .comments__desc {
     display: flex;
     flex-flow: column;
     text-align: start;
 }
 .comments__data {
     text-align: start;
     font-size: 14px;
    line-height: 1.5;
    color: #656464
 }
 .comments__text {
    font-weight: 300;
    line-height: 30px;
 }

 .comments-title {
     margin-bottom: 44px;
 }