
.contacts {
    text-align: right;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.contacts__phone {
    color: inherit;
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
    display: inline;
}
