 

.footer {
    height: 77px;
    margin-top: -77px;
    background-color: #27273e;
    color: #fff;
}

.footer__container {
    padding-top: 12px;
}

.footer__text {
    /* flex: 1; */
    width: 264px;
    /* justify-content: flex-start; */
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Gotham Pro';
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.footer__logo {
    height: 51px;
    vertical-align: middle;
    display: inline-block;
    width: 650px;
    text-align: center;
}