 

.footer {
    background-color: #27273e;
    color: #fff;
}

.footer__container {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    min-height: 77px;
}

.footer__text {
    /* flex: 1; */
    width: 264px;
    /* justify-content: flex-start; */
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Gotham Pro';
    margin: 0;
}

.footer__logo {
    margin-right: 92px;
}