 

.page-footer {
    height: 77px;
    margin-top: -77px;
    background-color: #27273e;
    color: #fff;
    
  
}

.footer__text {
    /* flex: 1; */
    width: 264px;
    /* justify-content: flex-start; */
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Gotham Pro';
    display: inline-block;
    vertical-align: top;
    /* width: 33%; */
}

.footer__logo {
    /* left: 499px;
    width: 99px; */
    height: 51px;
    margin-top: 12px;
    vertical-align: middle;
    display: inline-block;
    width: 650px;
    text-align: center;

}