.header {
    background: #27273e;
    padding: 0 10px;
}
.header__container {
    color: #fff;   
    position: relative;
    min-height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

