.menu__item {
    margin-bottom: 30px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__text {
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    color: #ec1e79;

}

.menu__text:hover {
    color: #000;
}
.menu__text--active {
    color: #000;
}

.menu__text:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 18px;
    background: no-repeat center center;
    margin-right: 14px;
}

.menu {
    top: 72px;
}
.menu__text--active.menu__text--icon--main:before {
    background-image: url('../../images/menu/main-hover.png');
}

.menu__text--icon--main:before {
    background-image: url('../../images/menu/main.png');
}

.menu__text--icon--main:hover:before {
    background-image: url('../../images/menu/main-hover.png');
}

.menu__text--icon--feed:hover:before {
    background-image: url('../../images/menu/feed-hover.png');
}

.menu__text--active.menu__text--icon--feed:before {
    background-image: url('../../images/menu/feed-hover.png');
}


.menu__text--icon--feed:before {
    background-image: url('../../images/menu/feed.png');
}

.menu__text--icon--wallet:before {
    background-image: url('../../images/menu/wallet.png');
}

.menu__text--icon--wallet:hover:before {
    background-image: url('../../images/menu/wallet-hover.png');
}

.menu__text--active.menu__text--icon--wallet:before {
    background-image: url('../../images/menu/wallet-hover.png');
}