
.network {
  display: inline-block;
  vertical-align: top;
    /* flex: 1 1 168px;
    /*justify-content: flex-end; */
    text-align: right;
}
.network__text {
    color: #fff;
    font-family: 'Gotham Pro';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    display: block;
    text-align: right;
    margin: 0;
    
}

.network__list {
  vertical-align: top;
  display: inline-block;
}

.network__icon, .network__item  {
    /* content: ""; */
    display: inline-block; 
    vertical-align: top;
    width: 20px;
    height: 20px;
    text-align: left; 
}

.network__icon {
  /* overflow: hidden; */
  border-radius: 50%;
  position: relative;
  }

.network__icon:hover {
  background-color: #a0235f;
  }

.network-icon--vk {
    background: url('../../images/socials/vk.png') no-repeat center center;
    background-color: #d4d4d8; 
  }
.network-icon--fb {
    background: url('../../images/socials/fb.png') no-repeat center center;
    background-color: #d4d4d8;
  }
.network-icon--google {
    background: url('../../images/socials/google.png') no-repeat center center;
    background-color: #d4d4d8;
  }
.network-icon--twitter { 
    background: url('../../images/socials/twitter.png') no-repeat center center;
    background-color: #d4d4d8;
  }
.network-icon--mail {
    background: url('../../images/socials/mail.png') no-repeat center center;
    background-color: #d4d4d8;
    
  }
  .network__item {
    margin-right: 10px;
    margin-top: 10px;
  }


    


    