.news {
    text-align: left;
    min-width: 100%;
    
}

.news__list {
    color: #221f1f;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 60px;
}

.news__title {
    margin-bottom: 68px;
}

.news__item {
    display: flex;
    margin-bottom: 40px;
    justify-content: flex-start;
}

.news__item:last-child {
    margin-bottom: 0;
}

.new__ellipse-pic {
    max-width: 100%;
    display: block;
}
 .new__ellipse-user {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    background-color: #f5f5f5;
    min-width: 160px;
 }
 .new__ellipse {
     margin-right: 10px;
     display: flex;
     align-items: center;
     min-height: 160px;
     border-radius: 50%;
     min-width: 160px;
 }
 .new__desc {
     display: flex;
     flex-flow: column;
     text-align: start;
     width: 100%;
     padding-top: 10px;
 }
 .new__data {
     text-align: start;
     font-size: 14px;
    line-height: 21px;
    color: #656464
 }
 .new__text {
    font-weight: 300;
    line-height: 30px;
    padding-top: 3px;
 }