.page-content {
    width: 880px;
    /* position: absolute; */
    right: 19px;
    /* display: inline-block;
    vertical-align: top; */
    /* flex: 2; */
    display: inline-block;
    vertical-align: top;
}