.specific {
    
    vertical-align: top;
    width: 100%;
    margin-bottom: 90px;
    
}
.specific__list {
    /* min-height: 316px;
    min-width: 250px; */
    /* display: flex; */
    /* text-align: center;
    list-style: disc; */
    font-family: 'Gotham Pro';

    display: inline-block;
    vertical-align: top;
    /* justify-content: space-around; */
}

.specific__item {
    /* flex: 1; */
    max-width: 32%;
    text-align: center;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.specific__icon {
    background-color: #27273e;
    overflow: hidden;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-bottom: 35px;
    display: inline-block;
    vertical-align: middle;
   
}
.specific__icon-img {
    transform: translate(0, 40%);
}

.specific__title {
    font-size: 11px;
    font-weight: 900;
    line-height: 51.38px;
    letter-spacing: 2.88px;
    text-align: center;
    color: #212121;
    text-transform: uppercase;
    
  }
  
  .specific__text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
    font-weight: 300;
    
  }
  .specific__list-check {
    list-style-type: disc;
    text-align: left;
    line-height: 30px;
    margin-top: 7px;
    padding-inline-start: 0;
  }
  .specific__list-item:before {
      color: rgb(236, 30, 121);
      content: "•";
      padding-right: 31px;

  }
  